{% extends 'layout.html' %}
{% load staticfiles %}

{% block userScript %}
<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
{% endblock %}

{% block content %}
<div class="blog-header">
	<h3 class="blog-title">덴마 연재 달력</h3>
	<p class="lead blog-description">덴마가 연재된 날짜를 확인해보세요.</p>
</div>

<div class="row">
	<div class="col-sm-8 blog-main">
		<div class="blog-post">
			<div id="cal-heatmap"></div>
		</div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset">
			<h4>Denma.io</h4>
			<p>네이버에서 연재되는 덴마의 정보를 모아둔 곳입니다.</p>
		</div>
		<div class="sidebar-module">
			<h4>메뉴</h4>
			<ol class="list-unstyled">
				<li><a href="/timeline">덴마 연재 달력</a></li>
			</ol>
		</div>
		<div class="sidebar-module">
			<h4>링크</h4>
			<ol class="list-unstyled">
				<li><a href="http://comic.naver.com/webtoon/list.nhn?titleId=119874">덴마 연재 페이지</a></li>
				<li><a href="http://comic.naver.com/webtoon/weekday.nhn">네이버 웹툰</a></li>
			</ol>
		</div>
	</div><!-- /.blog-sidebar -->
</div><!-- /.row -->
<script>

var startMonth = new Date(2010, 0);
// 다음달까지 표시하기 위해 2만큼 더한다.
var range = moment().diff(moment(startMonth), 'month') + 2;

var cal = new CalHeatMap();
cal.init({
	// id: '#_pubCal',
	start: startMonth,
	range: range,
	domain: 'month',
	domainLabelFormat: '%Y %m',
	subDomain: 'x_day',
	subDomainTextFormat: '%d',
	cellSize: 18,
	domainGutter: 0,
	verticalOrientation: true,
	label: {
		position: "left"
	},
	rowLimit: 31,
	displayLegend: false,
	data: '/timeline/js/pubDate',
	dataType: 'json',
	onClick: function(date, nb) {
		var targetDate;
		var $target;

		if (!nb) {
			return;
		}

		$target = $(d3.event.target);
		var offset = $target.offset();

		targetDate = date.getFullYear() + '-' +
							(date.getMonth() + 1) + '-' +
							date.getDate();

		$.ajax({
			url: '/timeline/js/episode',
			data: {
				date: encodeURI(targetDate)
			},
			beforeSend: function () {
				showLoading(offset);
			},
			success: function (result, status, xhr) {
				drawLayer(result);
			}
		});
	}
});

</script>
{% verbatim %}
<script type="text/x-handlebars-template" class="_layerTemplate">
<div>
	<div class="panel panel-default box-shadow __popupLayer" style="margin-bottom: 0px;">
		<div class="panel-heading __heading"><h3 class="panel-title">{{heading}}<button type="button" class="close _layer_close __close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
		</div>
		<div class="panel-body __body">
			<div class="row">
				<div class="col-sm-6">
					<div>
						<div>
							<h4>이번 화 등장인물</h4>
						</div>
						<div>
							{{#each starredCharacters}}
							<button class="btn btn-primary __charOnList" data-name="{{name}}">{{name}}</button>
							{{/each}}
						</div>
					</div>
					<div style="margin-top: 20px;">
						<div>
							<h5>등장인물</h5>
						</div>
						<div>
							{{#each allCharacters}}
							<button class="btn btn-primary __charNotOnList" data-name="{{name}}">{{name}}</button>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="col-sm-6 __toonContainer">
					<iframe style="width: 100%; height: 100%;" src="{{url}}" />
				</div>
			</div>
		</div>
	</div>
</div>
</script>
{% endverbatim %}
{% endblock %}