/* from http://bootstrapk.com/examples/blog/blog.css */
/*
 * Globals
 */

body {
  font-family: font-family:Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Dotum,'돋움',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/* heatmap */
#cal-heatmap {
  margin-left: -48px;
}

/* layer */
 ._layer_close {
  margin-top: -3px;
 }
